<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictions</title>
</head>
<body>
    {% for pred in preds %}
        <p>Home team: {{ pred.home_team }}</p>
        <p>Away team: {{ pred.away_team }}</p>
        <p>Home team prob to win: {{ pred.prob_home_win }}</p>
        <p>Away team prob to win: {{ pred.prob_away_win }}</p>
        <p>Home team pred goals: {{ pred.pred_home_goals }}</p>
        <p>Away team pred goals: {{ pred.pred_away_goals }}</p>
    {% endfor %}
</body>
</html>